@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=SlGWmQSNjdsmc35JDF1K5GRwSDknISvpj0ybE4ZGMJtPRZqnuSgLFbmWnk7lCA0GPSqj7fgaYM3pvctOefKbzCiTwq8COAKw8lQ5BkpWBXxG0KwqB-t9Vv4&skey=b76c0cb3db3b0fac&v=v30) format('woff2');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=SlGUmQSNjdsmc35JDF1K5FR3Wn81QynsiFiPEYRANplNS5TewioNE7uUkEDnCgsAPyi98_oYZsvrv8VAe8qjzi6VwK0MNgCy9FI7BFRIB35A1q4oCeV_&skey=fde9b303600e495b&v=v30) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUQjIg1_i6t8kCHKm459Wxhyzyg2_dXgA6Tml4NfUpilIKBefuI88gNMFn-nvjOfIdnrImpSzlhsQTWv6vATjRzgO_FfeuesoJgbTDIigGA9P3fhb08eA&skey=2d3c1187d5eede0f&v=v29) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUSjIg1_i6t8kCHKm45xWtzjS7C2fJQlBqRmFgLf0hsmvv6e_2O8coDPlv8mP7Mfpl5rouvTTtjvwrUh5PCSDJxguHLf-mYtIBicy7KiAeG9v_Ri78&skey=7bc19f711c0de8f&v=v29) format('woff2');
}