$grayscale-100:     #FFFFFF;
$grayscale-300:      #C1C1C1;
$grayscale-400:      #7C827B;
$grayscale-800:     #1E1E1E;
$terracota: #AE4E12;

$scWidth-max: 1366px;
$scWidth-full: 100vw;
$scHeight-full: 100dvh;