@use 'variables' as *;

h1,h2,h3,h4,h5,h6,p,q,span,a,li,button { font-family: "Montserrat", sans-serif;}
h1.garamond,h2.garamond,h3.garamond,h4.garamond,h5.garamond,h6.garamond,p.garamond,q.garamond,span.garamond,a.garamond,li.garamond,button.garamond {font-family: "EB Garamond", serif;}
strong {font-weight: bold;}

*.desktop{
    display: flex !important;
    @media screen and (max-width: $breakpoint-mobile){
        display: none !important;
    }
}

*.mobile {
    display: none !important;
    @media screen and (max-width: $breakpoint-mobile){
        display: flex !important;
    }
}

p.mobile, p, span.mobile, span {
    @media screen and (max-width: $breakpoint-mobile){
        line-height: 1.2em;
    }
}

img {
    object-fit: cover;
}

html, body{
  overflow-x: hidden;
  overflow-x: hidden;
}

body {
    background-color: $grayscale-100;
    width: $scWidth-full;
    height: $scHeight-full;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    section {
        max-width: $scWidth-max;
        @media screen and (max-width: $breakpoint-mobile){
            width: $scWidth-full;
        }
    }
}

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .banner-main {
        display: flex;
        flex-direction: row;
        
        .banner-title {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            h1 {
                font-size: 5em;
                font-style: italic;

                @media screen and (max-width: $breakpoint-mobile){
                    font-size: 2.25em;
                }
            }
            h2{
                font-size: 1.5em;
                font-style: italic;

                @media screen and (max-width: $breakpoint-mobile){
                    font-size: 1.25em;
                }
            }

            @media screen and (max-width: $breakpoint-mobile){
                width: 60%;
            }
        }
        
        .banner-image {
            max-width: calc($scWidth-max/2);
            width: 50%;
            display: flex;

            img {
                width: 100%;
                height: 100%;
            }

            img.desktop{
                border-radius: 0 0 10% 10%;
            }

            @media screen and (max-width: $breakpoint-mobile){
                width: 40%;
            }
        }
    }
}
.ugc-explainer {
    width: $scWidth-full;
    display: flex;
    justify-content: center;
    background-color: $terracota;
    color: $grayscale-100;
    margin-top: -175px;
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 0;
    }

    div {
        max-width: $scWidth-max;
        width: $scWidth-full;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 24px;

        p.garamond{
            width: 20%;
            text-align: center;
            font-style: italic;
            font-size: 2em;
            @media screen and (max-width: $breakpoint-mobile){
                font-size: 1.25em;
                width: 100%;
            }
        }
        
        p.desktop{
            width: fit-content;
            font-size: 1em;
        }

        p.mobile{
            width: fit-content;
            font-size: .75em;
            margin-top: 8px;
            text-align: center;
            line-height: 1.4m;
        }

        @media screen and (max-width: $breakpoint-mobile){
            flex-direction: column;
        }
    }
}
.about {
    margin-top: 120px;
    padding: 0 12px;
    display: flex;
    max-width: $scWidth-large;

    div.desktop{
        display: flex;
        max-width: $scWidth-max;
        .about-image {
            width: 40%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10%;
            }
        }

        div {
            width: 60%;
            margin-left: 42px;
            font-style: italic;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h1{
                font-size: 3em;
            }
            p{
                font-size: 1.125em;
            }
        }
    }

    div.mobile{
        
        display: flex;
        max-width: $scWidth-max;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: row;
            .about-image {
                width: 50%;
                text-align: left;
                margin-left: 12px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10%;
                }
            }

            div {
                width: 50%;
                margin-left: 24px;
                font-style: italic;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h1{
                    font-size: 1em;
                }
                p{
                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }
        p{
            
            margin-left: 12px;
            margin-top: 12px;
            font-size: .75em;
        }
    }


    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
    }
}
.cta-about {
    margin-top: 40px;
    background-color: $grayscale-400;
    color: $grayscale-100;
    width: $scWidth-full;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        max-width: $scWidth-max;
        padding: 12px;
        p.desktop{
            font-size: 1.75em;
            font-style: italic;
        }
        p.mobile{
            font-size: 1em;
            font-style: italic;
        }
    }
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
    }
}

.showcase-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    h1{
        font-size: 3em;
        font-style: italic;
        @media screen and (max-width: $breakpoint-mobile){
            font-size: 2em;
        }
    }
    h2{
        margin-top: 20px;
        font-size: 1.125em;
        @media screen and (max-width: $breakpoint-mobile){
            font-size: .75em;
        }
    }
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
    }
}

.showcase-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    h1{
        font-size: 3em;
        font-style: italic;
        
        @media screen and (max-width: $breakpoint-mobile){
            font-size: 2em;
        }
    }
    
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
    }
}

.process {
    background-color: $grayscale-200;
    width: $scWidth-full;
    max-width: $scWidth-full;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -10;
    margin-top: 40px;
    div{
        padding: 60px 0;
        max-width: $scWidth-max;

        h1{
            font-size: 3em;
            font-style: italic;
            @media screen and (max-width: $breakpoint-mobile){
                font-size: 2em;
            }
        }

        ul{
            padding: 40px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 30%;
                z-index: 1;
                span{
                    position: absolute;
                    z-index: -1;
                    font-size: 20em;
                    color: $grayscale-300;
                    @media screen and (max-width: $breakpoint-mobile){
                        font-size: 12em;
                    }
                }
                h2{
                    font-size: 2.5em;
                    font-style: italic;
                    @media screen and (max-width: $breakpoint-mobile){
                        font-size: 1.75em;
                    }
                }
                h3{
                    margin-top: 24px;
                    font-size: 1.25em;
                    @media screen and (max-width: $breakpoint-mobile){
                        font-size: 1em;
                    }
                }
                p{
                    margin-top: 12px;
                    font-size: 1em;
                    @media screen and (max-width: $breakpoint-mobile){
                        font-size: .75em;
                    }
                }
                
                @media screen and (max-width: $breakpoint-mobile){
                    margin: 24px;
                    width: 60%;
                }
            }
            @media screen and (max-width: $breakpoint-mobile){
                width: $scWidth-full;
                justify-content: center;
                padding: 12px 0;
            }
        }
        @media screen and (max-width: $breakpoint-mobile){
            padding: 32px 0;
        }
    }
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
        border-radius: 20px;
    }
}

.faq {
    font-style: italic;
    margin-top: 40px;
    h1 {
        text-align: center;
        font-size: 3em;
        @media screen and (max-width: $breakpoint-mobile){
            font-size: 2em;
        }
    }

    ul{
        li{
            margin-top: 40px;
            font-size: 1em;
            p{
                @media screen and (max-width: $breakpoint-mobile){
                    margin-bottom: 4px;
                }
            }
            @media screen and (max-width: $breakpoint-mobile){
                margin-top: 32px;
                font-size: .75em;
            }
        }
    }
    
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
        width: 90%;
    }
}

.investiment {
    background-color: $terracota;
    width: $scWidth-full;
    max-width: $scWidth-full;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    
    div{
        padding: 40px 0;
        max-width: $scWidth-max;
        width: 100%;
        font-style: italic;
        color: $grayscale-100;
        h1{
            font-size: 3em;
            text-align: center;
            @media screen and (max-width: $breakpoint-mobile){
                font-size: 2em;
            }
        }
        div{
            display: flex;
            flex: row;
            justify-content: space-between;
            .investiment-image{
                width: 50.5%;
                object-fit: cover;
                border-radius: 10px;
                margin-left: -10px;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
                @media screen and (max-width: $breakpoint-mobile){
                    width: 55.5%;
                }
            }
            ul{
                width: 48.5%;
                margin-right: -20px;
                li{
                    margin-top: 20px;
                    h2{
                        background-color: $grayscale-100;
                        color: $terracota;
                        padding: 12px 18px;
                        border-radius: 50px;
                        font-size: 2em;
                        @media screen and (max-width: $breakpoint-mobile){
                            padding: 6px 12px;
                            font-size: 1.25em;
                        }
                    }
                    p{
                        padding: 4px 18px;
                        font-size: 1.25em;
                        @media screen and (max-width: $breakpoint-mobile){
                            font-size: .8em;
                            padding: 4px 0 4px 12px;
                        }
                    }
                }
                @media screen and (max-width: $breakpoint-mobile){
                    width: 49.5%;
                }
            }
        }
        @media screen and (max-width: $breakpoint-mobile){
            padding: 12px 0;
        }
    }
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
    }
}

.contact{
    margin-top: 40px;
    padding-bottom: 80px;
    color: $grayscale-800;
    text-align: center;
    h1{
        font-size: 3em;
        font-style: italic;
        font-weight: 500;
        span{
            color: $terracota;
        }
        @media screen and (max-width: $breakpoint-mobile){
            font-size: 1.5em;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        width: $scWidth-full;
        flex-wrap: wrap;
        li{
            display: flex;
            flex-direction: column;
            &:nth-child(2){
                margin: 0 24px;
                @media screen and (max-width: $breakpoint-mobile){
                    margin: 0;
                }
            }
            a{
                margin:2px;
                color: $grayscale-800;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 500;
                font-size: 1.25em;
                img{
                    width: 1.25em;
                    padding-right: 2px;
                }
            }
            &:hover{
                transition: color .2s;
                color: black;
            }
            &:hover::after{
                transform: scaleX(1);
                transform-origin: bottom center;
                @media screen and (max-width: $breakpoint-mobile){
                    transform: scaleX(0);
                }
            }
            &::after {
                content: '';
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                background-color: $grayscale-800;
                transition: transform 0.25s ease-out;
            }
        }
        @media screen and (max-width: $breakpoint-mobile){
            margin-left: 0;
            justify-content: space-evenly;
        }
    }
    @media screen and (max-width: $breakpoint-mobile){
        margin-top: 32px;
        padding-bottom: 60px;
    }
}